<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxjunkyard.community.repository.dao.mapper.EquipmentMapper">
    <insert id="reserve" useGeneratedKeys="true">
        insert into EquipmentReservations(
                            equipment_id
                          ,event_id
                          ,renter_id
                          ,equipment_n
                          ,start_date
                          ,end_date
                          ,usage_date
                          ,comment
                          ,status)
        values(
                #{equipmentId}
              ,#{eventId}
              ,#{renterId}
              ,#{equipmentN}
              ,#{startDate}
              ,#{endDate}
              ,#{usageDate}
              ,#{comment}
              ,#{status})
    </insert>
    
    <!-- 設備IDと日付範囲に基づいて予約情報を取得するクエリ -->
    <select id="findReservationsByEquipmentIdAndDateRange" resultType="com.dxjunkyard.community.domain.EquipmentRental">
        SELECT 
            reservation_id AS reservationId,
            equipment_id AS equipmentId,
            event_id AS eventId,
            renter_id AS renterId,
            equipment_n AS equipmentN,
            start_date AS startDate,
            end_date AS endDate,
            usage_date AS usageDate,
            comment,
            status
        FROM 
            EquipmentReservations
        WHERE 
            equipment_id = #{equipmentId}
            AND (
                (start_date BETWEEN #{startDate} AND #{endDate})
                OR (end_date BETWEEN #{startDate} AND #{endDate})
                OR (start_date &lt;= #{startDate} AND end_date &gt;= #{endDate})
            )
        ORDER BY 
            start_date ASC
    </select>
</mapper>
